@import "../assets/colors";
@import "../assets/typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $second-font-style;    
    overflow-x: hidden;
    background-image: url('https://i.ibb.co/RHnbnkd/digitization-gb7f879ac8-1920.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

h2 {
    font-family: $first-font-style;
    font-size: $font-size-one;
}

p, li, .table {
    font-family: $second-font-style;
    font-size: $font-size-three;
}

h3 {
    font-size: $font-size-two;
}

.section1 {
    top: 0;
    // padding: 90px 25% 0;
    margin: 0 auto;
    position: static;
    height: 650px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .intro-head {
        text-align: center;
        width: 45%;
        & h2 {
            color: $third-color;
            padding-top: 50px;
        }
    } 
}

.intro-text {
    background-color: rgba(0, 0, 0, 0.726);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        text-align: center;
        color: $forth-color;
        cursor: pointer;
        & a {
            text-decoration: none;
            color: $forth-color;
        }
        &:hover {
            color: $second-color;
        }
    & .arrow {
        display: grid;
        place-items: center;
        padding-top: 10px;
        }
    }
    
}


.section-bg {
    background: rgba(0, 0, 0, 0.726);
    z-index: 998;
}

.intro-head i {
    margin-top: 20px;
    
}

.section2 {
    background-color: $sixth-color;
    position: static;
    width: 100vw;
}

.subsection2 {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
        & img {
            width: 30%;
            height: auto;
            margin: 3.5rem auto;
            border-radius: 10px;
            
        }
}

.personal-data {
    display: flex;
    justify-content: flex-end;
    & .text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        width: 90%;
        &:hover span {
            color: $second-color;
            font-weight: bold;
        }
        & h2 {
            color: $second-color;
        }
        & P {
            padding-top: 40px;
            align-items: flex-end;
        }
    }
}

.section3 {
    background: rgba(0, 0, 0, 0.726);
    margin-top: 0;
    padding-bottom: 50px;
}

.subsection3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2 {
        text-align: center;
        color: $third-color;
        margin-top: 50px;
    }
    & .line3 {
        width: 10%;
        height: 3px;
        background-color: $third-color;
        margin-top: 20px;
        border-radius: 20px;
}   
}

.skills {
    margin: 3rem auto 2rem auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-category {
    width: 65%;
    display: flex;
    border-bottom: 1px solid $forth-color;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    padding: 20px 0;
    &:hover {
        border-bottom: 2px solid $second-color;
    }
    &:hover h3{
        color: $second-color;
    }
    & h3 {
        color: $forth-color;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight:light;
        border-right: 1px solid $forth-color;
        
    }
    & ul {
        color: $forth-color;
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0 0 0 8%;
        & li {
            list-style: none;
            
        }
    } 
}

.matrix {
    color: $forth-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    & .matrix-title {
        margin: 1rem auto 0.5rem auto;
        font-size: 1.8em;
    }
    & .matrix-rating {
        font-weight: lighter;
        font-size: 1rem;
        margin: 0 auto;
    }
}

.first-column {
    padding-left: 15px;
}

.table {
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    align-items: center;
    border-collapse: collapse;
    margin: 0.5rem auto 2rem auto;
    width: 55%;
    & thead {
        & tr {
            text-align: right;
        }
    }
    & th {
        height: 2.5rem;
        text-align: center;
        justify-content: space-evenly;
    }
    & td {
        height: 2.4em;
    }
    & tbody {
        & tr {
            border-bottom: 1px solid #ffc1694b;
            font-size: 1rem;
            & .table-title {
                font-size: 1.2rem;
             }
            & td:nth-of-type(2), & td:nth-of-type(3), & td:nth-of-type(4), & td:nth-of-type(5) {
                text-align: center;
            }
        }
        & tr:nth-of-type(13) {
            border-bottom: none;
        }
        & tr:nth-of-type(5), & tr:nth-of-type(7), & tr:nth-of-type(9) {
            border-bottom: 3px solid #ffc169b2;
        }
    }
}

.thead {
    width: 10%;
}

.section4 {
    background-color: $sixth-color;
    padding-bottom: 50px;
    width: 100vw;
    & h2 {
        color: $second-color;
    }
    & .subsection4 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        & .text4 {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            & p {
                padding-top: 30px;
            }
        }
    }
}

.contact-form {
        display: flex;
        justify-content: flex-end;
        width: 35%;
        margin-top: 60px;
        & form {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            & input {
                border-radius: 10px;
                border: none;
                height: 2rem;
                padding-left: 20px;
                color: rgba(0, 0, 0, 0.534);
                background-color: rgba(0, 0, 0, 0.144);
            }
            & #message {
                padding-top: 15px;
                padding-bottom: 100px;
            }
            & button {
                border-radius: 10px;
                border: none;
                height: 35px;
                cursor: pointer;
                background-color: #a45d5dbd;
                color: $forth-color;
                font-size: $font-size-three;
                margin-top: 10px;
                &:hover {
                    border: 2px solid $second-color;
                    background-color: rgba(0, 0, 0, 0);
                    color: $second-color;
                }
            }
            
        }

    }

//these classes are no longer in use
.line1, .line2, .line3, .line4 {
    display: none;
}
