@import "../assets/colors";
@import "../assets/typography";

header {
    background-color: rgba(0, 0, 0, 0.836);
    color: $second-color;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 80px;
}

.logo {
    font-family: $second-font-style;
    color: $second-color;
    font-style: italic;
    margin-top: 20px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

%nav-label-span {
    display: block;
    background: $forth-color;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

%nav-label-span-pseudo {
    content: '';
    position: absolute;
}

.nav-toggle-label span {
    @extend %nav-label-span;
}

.nav-toggle-label span::before {
    @extend %nav-label-span;
    @extend %nav-label-span-pseudo;
    bottom: 8px;
}

.nav-toggle-label span::after {
    @extend %nav-label-span;
    @extend %nav-label-span-pseudo;
    top: 8px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: $first-color;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: $forth-color;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: lowercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    &:hover {
        color: $second-color;
    }
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    & a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
}

@media screen and (min-width: 768px) {
    .nav-toggle-label {
        display: none;
    }


    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2/ 3;
    }

    nav {
        all: unset;
        grid-column: 3/ 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & ul {
            display: flex;
            justify-content: center;
        }
        & li {
            margin-left: 3rem;
            margin-bottom: 0;
        }
        & a {
            opacity: 1;
        }
        
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        margin-top: 20px;
        grid-column: 1/ 4;
    }

    html {
        & h2 {
            font-size: 2em;
        }
        & p, & li {
            font-size: 1em;
        }
        & h3 {
            font-size: 0.5rem;
        }
        & .table {
            & tbody {
                font-size: xx-small;
            }
        }
    }


    .section1 {
        height: 370px;
        & .intro-head {
            width: 60%;
            padding-top: 50px;
        }
    }

    .subsection2 {
        width: 100%;
        & img {
            width: 30%;
        }
    }

    .text2 {
        & h2 {
            padding-top: 3rem;
        }
    }

    .personal-data {
        width: 55%;
        justify-content: flex-end;
        & .text2 {
            width: 90%;
        }
    }

    .skill-category {
        width: 85%;
        & h3 {
            font-size: 100%;
        }
    }

    .matrix {
        font-size: 70%;
        & span {
            font-size: 70%;
        }
    }

    .table {
        width: 70%;
        & th, & td {
            font-size: 90%;
        }
    }

    .contact-form {
        width: 35%;
        justify-content: flex-start;
    }
}

@media (min-width: 319px) and (max-width: 480px) {
    body {
        & h2 {
            font-size: 2em;
        }
        & p, & li {
            font-size: 0.9em;
        }
    }

    .section1 {
        height: 450px;
        & .intro-head {
            width: 90%;
        }
    }
    
    .subsection2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 40px;
        & img {
            width: 70%;
        }
        
    }

    .personal-data {
        width: 85%;
        & .text2 {
            width: 100%;
            margin: 0 auto;
            & h2 {
                text-align: center;
            }

            & p {
                margin-top: -15px;
            }

        }
    }

    .skill-category {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        width: 85%;
        & h3 {
            align-items: center;
            font-size: 1.3em;
            border-right: none;
            // border-bottom: 1px solid $forth-color;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        & .skill-list {
            margin-right: 8%;
                & li:nth-of-type(1) {
                    border-top: 1px solid rgba(255, 255, 255, 0.425);
                    padding-top: 20px;
                }
        }
    }

    .matrix {
        & .matrix-title {
            font-size: 1em;
        }
        & .matrix-rating {
            font-size: 0.8em;
            margin: 0 5%;
        }
    }

    .table {
        width: 85%;
        & thead {
            font-size: 65%;
        }
        & tbody {
            & tr {
                font-size: 68%;
                & .table-title {
                    font-size: 1.1em;
                }
            }
        }
    }

    

    .subsection4 {
        flex-direction: column;
        & .text4 {
            width: 85%;
            & h2 {
                text-align: center;
            }
        }
        & .contact-form {
            width: 80%;
            // margin-top: -10px;
            margin: -10px auto 0 auto;
            & form {
                margin-right: 9%;
                & input {
                    font-size: 0.6em;
                }
                & button {
                    font-size: 0.8em;
                }
            }
        }
    }

    
}