@import './colors.scss';

.button {
    cursor: pointer;
}

.startBtn {
    width: 30%;
    height: 8%;
    background-color: $head-bgcolor;
    display: grid;
    place-items: center;
    color: $light-color;
}

.switchButtons {
    width: 60%;
    height: 8%;
    background-color: $light-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    .previousBtn, .nextBtn {
        background-color: $head-bgcolor;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        color: $light-color;
    }
}


