@import './colors.scss';

.button {
    cursor: pointer;
    box-shadow: 0 0 3px #000;
}

.startBtn, .restartBtn {
    width: 30%;
    height: 8%;
    background-color: $head-bgcolor;
    display: grid;
    place-items: center;
    color: $light-color;
    border-radius: 10px;
}

.switchButtons {
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    .previousBtn, .nextBtn {
        background-color: $head-bgcolor;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        color: $light-color;
        font-size: 1.1rem;
        border-radius: 10px;
    }
}


