@import './colors.scss';

.quizContainer {
    background-color: $head-bgcolor;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quizTitle {
    color: $light-color;
    font-size: 1.8rem;
    height: 10%;
}

.pageNumber {
    height: 5%;
    color: $light-color;
}

.questionBox {
    width: 90%;
    height: 20%;
    background-color: $light-color;
    display: grid;
    place-items: center;
    border-radius: 20px;;
}

.answersBox {
    height: 60%;
    width: 90%;
    display: flex;
    gap: 5px;
}

.eachAnswer {
    height: 20%;
    width: 100%;
    background-color: $light-color;
    border-radius: 20px;
}