@import './colors.scss';

.quizContainer {
    background-color: $head-bgcolor;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .quizTitle {
        color: $light-color;
        font-size: 1.8rem;
        height: 10%;
    }
    .pageNumber {
        height: 5%;
        color: $light-color;
    }
    .questionBox {
        width: 90%;
        height: 15%;
        background-color: $light-color;
        display: grid;
        place-items: center;
        border-radius: 20px;
        font-size: 1.5rem;
    }
    .allAnswers {
        height: 50%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        background-color: brown;
    }
}

.answerBox {
    height: 25%;
    width: 100%;
    background-color: $light-color;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    .answerNumber {
    width: 15%;
    height: 100%;
    background-color: red;
    display: grid;
    place-items: center;
    }
    .answerText {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
}

.result {
    font-size: 2rem;
}


