@import './colors.scss';

%standard-flexbox-use {
    display: flex;
    justify-content: center;
    align-items: center;
}

%standard-grid-use {
    display: grid;
    place-items: center;
}

.quizContainer {
    background-color: $head-bgcolor;
    width: 80%;
    height: 80%;
    @extend %standard-flexbox-use;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    .quizTitle {
        color: $light-color;
        font-size: 1.8rem;
        height: 10%;
    }
    .pageNumber {
        height: 5%;
        color: $light-color;
    }
    .questionBox {
        width: 90%;
        height: 15%;
        background-color: $light-color;
        @extend %standard-grid-use;
        border-radius: 20px;
        font-size: 1.5rem;
    }
    .allAnswers {
        height: 50%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        // background-color: brown;
    }
}

.answerBox {
    height: 25%;
    // background-color: $light-color;
    border-radius: 25px 0 0 25px;
    @extend %standard-flexbox-use;
    font-size: 1.5rem;
    cursor: pointer;
    &:nth-of-type(2), &:nth-of-type(4)  {
        flex-direction: row-reverse;
        border-radius: 0 25px 25px 0;
    }
    .answerNumber {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @extend %standard-grid-use;
        background-color: $light-color;
        }
    .answerText {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.2rem;
        background-color: $light-color;
        padding-left: 15px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 50%);
    }
}

.result {
    font-size: 2rem;
}


