*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'urbanist', sans-serif;
}

.general_container {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,71,86,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* GENERAL TEXT/BRANDING */
.text_container {
    width: 40%;
    height: 80%;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.title {
    font-size: 5.5rem;
    font-weight: bold;
}

.title span, .info_text {
    font-size: 3rem;
    font-weight: lighter;
}

.stopwatch {
    width: 100%;
    padding: 13%;
}


/* GENERAL MOBILE SECTION */
.mobile_container {
    width: 39vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_frame {
    width: 55%;
    height: 100%;
    background-color: #082032;
    border-radius: 20px;
    border: 5px solid black;
    position: relative;
    z-index: 999;
}

.side_buttons {
    /* z-index: 999; */
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: absolute;
}

.left_buttons, .right_buttons {
    width: 4px;
    position: absolute;
}

.left_buttons {
    height: 20%;
    left: -9px;
    top: 22%;
}

.upper_left_button, .bottom_left_button {
    height: 40%;
    border-radius: 10px 0 0 10px;
    background-color: yellow;
    margin-bottom: 4px;
    background-color: black;

}

.right_buttons {
    right: -9px;
    height: 10%;
    top: 25%;
    border-radius: 0 10px 10px 0;
    background-color: black;
}


/* TOP BAR INSIDE MOBILE  */
.mobile_top_bar {
    height: 25px;
    width: 100%;
    background-color: black;
     border-radius: 10px 10px 0 0; 
    position: absolute;
    z-index: 998;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.top_elements {
    color: white;
}

.telecom_provider {
    padding-left: 20px;
    font-size: small;
}

.icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 5px;
    font-size: x-small;
}

.fa-battery-three-quarters {
    padding-top: 2px;
}


/* BODY SECTION INSIDE MOBILE */
.mobile_body {
     background: rgb(2,0,36); 
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,32,50,1) 50%);
    background-position: center;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.stopwatch_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


/* THE ACTUAL STOPWATCH */
.stopwatch_display {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 3rem;
    margin-top: 50px;
    box-shadow: 0 0 10px 5px #fff;
}


/* THE TIMER BUTTONS */
.timer_buttons {
    height: 20%;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.buttons {
    color: white;
    font-size: larger;
    bottom: 0;
    cursor: pointer;
    z-index: 999;
}

.active, .buttons:hover {
    color: #F0A500;
}

.app_category:hover {
    color: #F0A500;
}

.mobile_bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* THE APPS SECTION AKA THE BOTTOM SECTION INSIDE THE MOBILE */
.app_category {
    text-align: center;
    text-transform: capitalize;
    padding: 0.5em 0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
    width: 100%;
    z-index: 999;
}

.stopwatch_app, .app_category:hover {
    color: #F0A500;
    background-color: #334756;
    border-radius: 10px 10px 0 0;
}