* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "urbanist", sans-serif;
  overflow-x: hidden;
  background-image: url("https://i.ibb.co/RHnbnkd/digitization-gb7f879ac8-1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

h2 {
  font-family: "josefin sans", sans-serif;
  font-size: 3em;
}

p, li, .table {
  font-family: "urbanist", sans-serif;
  font-size: 1.2em;
}

h3 {
  font-size: 2em;
}

.section1 {
  top: 0;
  padding: 90px 25% 0;
  position: static;
  height: 700px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .intro-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section1 .intro-head h2 {
  color: #FFC069;
  margin: 100px auto 0 auto;
}

.section1 .intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .intro-text p {
  color: #EFEFEF;
  margin-top: 190px;
  cursor: pointer;
}

.section1 .intro-text p a {
  text-decoration: none;
  color: #EFEFEF;
}

.section1 .intro-text p:hover {
  color: #A45D5D;
}

.section1 .intro-text span:hover {
  color: #A45D5D;
}

.section-bg {
  background: rgba(0, 0, 0, 0.726);
  width: 100vw;
  z-index: 998;
}

.intro-head i {
  margin-top: 20px;
}

.section2 {
  background-color: rgba(255, 255, 255, 0.829);
  position: static;
  width: 100vw;
}

.subsection2 {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  gap: 20px;
}

.subsection2 img {
  max-width: 30%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.subsection2 .text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  margin-bottom: 30px;
  width: 70%;
}

.subsection2 .text2:hover span {
  color: #A45D5D;
  font-weight: bold;
}

.subsection2 .text2 .line2 {
  width: 35%;
  height: 3px;
  background-color: #A45D5D;
  margin-top: 20px;
  border-radius: 20px;
}

.subsection2 .text2 h2 {
  margin-top: -80px;
  color: #A45D5D;
}

.subsection2 .text2 P {
  padding-top: 40px;
}

.section3 {
  background: rgba(0, 0, 0, 0.726);
  margin-top: 0;
  padding-bottom: 50px;
}

.subsection3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subsection3 h2 {
  text-align: center;
  color: #FFC069;
  margin-top: 50px;
}

.subsection3 .line3 {
  width: 10%;
  height: 3px;
  background-color: #FFC069;
  margin-top: 20px;
  border-radius: 20px;
}

.skills {
  margin: 2rem auto 2rem auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-category {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 10px;
  padding: 20px 0;
}

.skill-category:hover {
  border-bottom: 2px solid #A45D5D;
}

.skill-category:hover h3 {
  color: #A45D5D;
}

.skill-category h3 {
  color: #EFEFEF;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: light;
  border-right: 1px solid #EFEFEF;
}

.skill-category ul {
  color: #EFEFEF;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.skill-category ul li {
  list-style: none;
  padding-left: 4em;
}

.matrix {
  color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.matrix p {
  margin: 1rem auto 0.5rem auto;
  font-size: 1.8em;
}

.matrix span {
  font-weight: lighter;
  font-size: 1rem;
}

.first-column {
  padding-left: 15px;
}

.table {
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-collapse: collapse;
  margin: 0.5rem auto 2rem auto;
  width: 55%;
}

.table thead tr {
  background-color: #ffc169b6;
  text-align: right;
}

.table th {
  height: 2.5rem;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.table td {
  height: 2.4em;
}

.table tbody tr {
  border-bottom: 1px solid #ffc16948;
  font-size: 1rem;
}

.table tbody tr span {
  font-size: 1.2rem;
}

.table tbody tr td:nth-of-type(2), .table tbody tr td:nth-of-type(3), .table tbody tr td:nth-of-type(4), .table tbody tr td:nth-of-type(5) {
  text-align: center;
}

.table tbody tr:nth-of-type(5), .table tbody tr:nth-of-type(7), .table tbody tr:nth-of-type(9), .table tbody tr:nth-of-type(13) {
  border-bottom: 3px solid #ffc169b9;
}

.thead {
  width: 10%;
}

.section4 {
  background-color: rgba(255, 255, 255, 0.829);
  padding-top: 20px;
  padding-bottom: 50px;
}

.section4 h2 {
  color: #A45D5D;
  margin-top: -20px;
}

.section4 .subsection4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
  gap: 100px;
}

.section4 .subsection4 .text4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  padding-top: 50px;
}

.section4 .subsection4 .text4 .line4 {
  width: 100%;
  height: 3px;
  background-color: #A45D5D;
  margin-top: 20px;
  border-radius: 20px;
}

.section4 .subsection4 .text4 p {
  padding-top: 30px;
}

.contact-form {
  display: block;
  width: 30%;
  margin-top: 60px;
}

.contact-form form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.contact-form form input {
  border-radius: 10px;
  border: none;
  height: 2rem;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.534);
  background-color: rgba(0, 0, 0, 0.144);
}

.contact-form form #message {
  padding-top: 15px;
  padding-bottom: 100px;
}

.contact-form form button {
  border-radius: 10px;
  border: none;
  height: 35px;
  cursor: pointer;
  background-color: #a45d5dbd;
  color: #EFEFEF;
  font-size: 1.2em;
  margin-top: 10px;
}

.contact-form form button:hover {
  border: 2px solid #A45D5D;
  background-color: rgba(0, 0, 0, 0);
  color: #A45D5D;
}

.line1, .line2, .line3, .line4 {
  display: none;
}

header {
  background-color: rgba(0, 0, 0, 0.836);
  color: #A45D5D;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 80px;
}

.logo {
  font-family: "urbanist", sans-serif;
  color: #A45D5D;
  font-style: italic;
  margin-top: 20px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: #EFEFEF;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background-color: black;
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #EFEFEF;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: lowercase;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #A45D5D;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(600px, 3fr) 1fr;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ 3;
  }
  nav {
    all: unset;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/ 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav li {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .logo {
    margin-top: 20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/ 4;
  }
  html h2 {
    font-size: 2em;
  }
  html p, html li {
    font-size: 1em;
  }
  html h3 {
    font-size: 0.5rem;
  }
  html .table tbody {
    font-size: xx-small;
  }
  .text1 h2 {
    width: 450px;
    padding-top: 100px;
  }
  .text1 p {
    margin-top: -190px;
  }
  .subsection2 {
    width: 100%;
    margin-left: 0px;
    padding-left: 50px;
  }
  .subsection2 img {
    width: 200px;
  }
  .subsection2 .text2 {
    padding-top: 60px;
  }
  .skill-category ul li {
    padding-left: 40px;
  }
  .subsection4 .text4 {
    margin-left: -80px;
  }
  .line1, .line2, .line3, .line4 {
    display: none;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  html h2 {
    font-size: 2rem;
    width: 100%;
  }
  .subsection2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .subsection2 img {
    margin-top: -10px;
  }
  .subsection2 .text2 {
    margin-top: 120px;
  }
  .subsection2 .text2 h2 {
    text-align: center;
  }
  .subsection2 .text2 p {
    width: 100%;
  }
  .skill-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
  .skill-category h3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.9rem;
  }
  .subsection4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .subsection4 .contact-form {
    width: 100%;
    margin-top: -50px;
  }
  .subsection4 .contact-form form {
    margin-left: -30px;
  }
}
/*# sourceMappingURL=main.css.map */