*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,98,123,1) 35%, rgba(0,212,255,1) 180%);
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.frame_carrousel {
    position: relative;
    width: 50%;
    height: 70%;
    z-index: 999;
    box-shadow: 20px 20px 2000px;
    border-radius: 10px 10px 0 0;
}


/*IMAGES */

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.image1 {
    z-index: 10;
}

.image2 {
    z-index: 9;
}

.image3 {
    z-index: 8;
}


/* ARROW CONTAINERS AND ARROWS */

.arrow_container_left,
.arrow_container_right {
    position: absolute;
    height: 100%;
    width: 35px;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.arrow_container_left {
    border-radius: 10px 0 0 0;
}

.arrow_container_right {
    right: 0;
    border-radius: 0 10px 0 0;
}

.arrow_container_left:hover,
.arrow_container_right:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

.arrow__left::before,
.arrow__left::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 16%;
    z-index: 999;
}

.arrow__left::before {
    transform: rotate(-40deg);
    top: 48.7%;
}

.arrow__left::after {
    transform: rotate(40deg);
    bottom: 48.7%;
}

.arrow__right::before,
.arrow__right::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    right: 8px;
    z-index: 999;
}

.arrow__right::before {
    transform: rotate(40deg);
    top: 48.7%;
}

.arrow__right::after {
    transform: rotate(-40deg);
    bottom: 48.7%;
}


/* NAVIGATE DOTS */
.container_nav_dots {
    position: absolute;
    width: 20%;
    height: 5%;
    z-index: 998;
    bottom: 0.5rem;
    margin: 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav_dots {
    width: 1rem;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
}

.active, .nav_dots:hover {
    background-color: rgba(255, 255, 255, 0.555);
}


/* SLIDING THE IMAGES */

